@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  font-family: "poppins", Arial, Helvetica;
  list-style: none;
}

body {
  overflow-x: hidden !important;
}

p {
  margin: 0px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 32px;
}

.col-sm-12 {
  padding: 0px;
}

.red {
  color: $red;
}

.next-line {
  display: block;
}

.google-play {
  margin-right: 20px;
}
